<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Adicionar Collection Point - ReciclaGUS</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">Cadastro efetuado com sucesso!</div>
            </div>

            <h1>Cadastro</h1>
            <form th:action="@{/add-collection-point}" th:object="${collectionPoint}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Erro de Validação</p>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <label for="name" class="control-label">Nome</label> <input
                        id="name" class="form-control" th:field="*{name}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Erro de Validação</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('cnpj')}? 'has-error':''">
                    <label for="cnpj" class="control-label">CNPJ</label> <input
                        id="cnpj" class="form-control" th:field="*{cnpj}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('cnpj')}"
                       th:text="${error}">Erro de Validação</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('phone')}? 'has-error':''">
                    <label for="phone" class="control-label">Telefone</label> <input
                        id="phone" class="form-control" th:field="*{phone}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('phone')}"
                       th:text="${error}">Erro de Validação</p>
                </div>


                <div class="form-group"
                     th:classappend="${#fields.hasErrors('state')}? 'has-error':''">
                    <label for="state" class="control-label">Estado</label> <input
                        id="state" class="form-control" th:field="*{state}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('state')}"
                       th:text="${error}">Erro de Validação</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('city')}? 'has-error':''">
                    <label for="city" class="control-label">Cidade</label> <input
                        id="city" class="form-control" th:field="*{city}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('city')}"
                       th:text="${error}">Erro de Validação</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('neighborhood')}? 'has-error':''">
                    <label for="neighborhood" class="control-label">Bairro</label> <input
                        id="neighborhood" class="form-control" th:field="*{neighborhood}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('neighborhood')}" th:text="${error}">Erro de Validação</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('street')}? 'has-error':''">
                    <label for="street" class="control-label">Rua</label>
                    <input id="street" class="form-control"
                           th:field="*{street}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('street')}"
                       th:text="${error}">Erro de Validação</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('number')}? 'has-error':''">
                    <label for="number" class="control-label">Numero</label> <input
                        id="number" class="form-control" th:field="*{number}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('number')}"
                       th:text="${error}">Erro de Validação</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('complement')}? 'has-error':''">
                    <label for="complement" class="control-label">Complemento</label>
                    <input id="complement" class="form-control"
                           th:field="*{complement}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('complement')}"
                       th:text="${error}">Erro de Validação</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Adicionar Ponto de Coleta</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>